// General
prefer-no-csd
// XWayland support
xwayland-satellite {
  on
}

// Input
input {
  keyboard {
    repeat-rate 35
    repeat-delay 400

    xkb {
      layout "us,ru"
      options "grp:alt_shift_toggle,ctrl:nocaps"

      //options "grp:win_space_toggle,compose:ralt,ctrl:nocaps"
    }

    numlock
  }

  mouse {
    accel-profile "flat"
  }

  // warp-mouse-to-focus

  // Focus windows and outputs automatically when moving the mouse into them.
  // Setting max-scroll-amount="0%" makes it work only on windows already fully on screen.
  focus-follows-mouse max-scroll-amount="0%"
}

// Output
output "DVI-I-1" {
  mode "1920x1080@60.000"
  scale 1
  // variable-refresh-rate
  transform "normal"
  position x=1280 y=0 
}

// Layout
layout {
  gaps 5

  // When to center a column when changing focus, options are:
  // - "never", default behavior, focusing an off-screen column will keep at the left
  //   or right edge of the screen.
  // - "always", the focused column will always be centered.
  // - "on-overflow", focusing a column will center it if it doesn't fit
  //   together with the previously focused column.
  center-focused-column "never"

  preset-column-widths {

    proportion 0.33333
    proportion 0.5
    proportion 0.66667

    // Fixed sets the width in logical pixels exactly.
    // fixed 1920
  }

  // You can change the default width of the new windows.
  default-column-width { proportion 0.5; }

  focus-ring {
    off
    width 5
    // Colors can be set in a variety of ways:
    // - CSS named colors: "red"
    // - RGB hex: "#rgb", "#rgba", "#rrggbb", "#rrggbbaa"
    // - CSS-like notation: "rgb(255, 127, 0)", rgba(), hsl() and a few others.
    active-color "#d65d0e"
    inactive-color "#504945"
  }

  border {
    width 3
    active-color "#d65d0e"
    inactive-color "#504945"
    urgent-color "#9b0000"
  }

  shadow {
    off
    // Softness controls the shadow blur radius.
    softness 5
    // Spread expands the shadow.
    spread 5
    // Offset moves the shadow relative to the window.
    offset x=0 y=5
    color "#0007"
  }

  // Struts shrink the area occupied by windows, similarly to layer-shell panels.
  // You can think of them as a kind of outer gaps. They are set in logical pixels.
  // Left and right struts will cause the next window to the side to always be visible.
  // Top and bottom struts will simply add outer gaps in addition to the area occupied by
  // layer-shell panels and regular gaps.
  struts {
    // left 64
    // right 64
    // top 64
    // bottom 64
  }
}

// Add lines like this to spawn processes at startup.
// Note that running niri as a session supports xdg-desktop-autostart,
// which may be more convenient to use.
// See the binds section below for more spawn examples.

// General
// spawn-at-startup "/usr/lib/xdg-desktop-portal"
// spawn-at-startup "/usr/lib/xdg-desktop-portal-gtk"
// Bar
spawn-sh-at-startup "waybar -c ~/.config/waybar/niri/config-niri.jsonc -s ~/.config/waybar/niri/style-niri.css"
// Daemons
spawn-at-startup "dunst"
spawn-at-startup "awww-daemon"
// Applets
spawn-at-startup "nm-applet"
spawn-at-startup "blueman-applet"
// Polkit agent
spawn-at-startup "/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1"
// Clipboard
spawn-sh-at-startup "wl-paste --watch cliphist store"

// Environment variables
environment {
  // Rendering
  GSK_RENDERER "opengl"
  GDK_BACKEND "wayland"
  // SDL_VIDEODRIVER "wayland"
  // WLR_DRM_NO_ATOMIC "1"

  // Wayland
  XDG_SESSION_TYPE "wayland"
  DESKTOP_SESSION "niri"
  XDG_CURRENT_DESKTOP "niri"
  XDG_SESSION_DESKTOP "niri"
  CLUTTER_BACKEND "wayland"
  QT_QPA_PLATFORM "wayland"

  // Appearance
  QT_QPA_PLATFORMTHEME "qt6ct"
  QT_STYLE_OVERRIDE "kvantum"
  QT_WAYLAND_DISABLE_WINDOWDECORATION "1"

  // Other useful variables
  AMD_USERQ "1"
  MOZ_ENABLE_WAYLAND "1"
  _JAVA_AWT_WM_NONREPARENTING "1"
  ELECTRON_OZONE_PLATFORM_HINT "wayland"
}

hotkey-overlay {
  skip-at-startup
}

// You can change the path where screenshots are saved.
screenshot-path "~/pictures/scrshots-niri/scrshot-%Y-%m-%d-%H-%M-%S.png"

// You can also set this to null to disable saving screenshots to disk.
// screenshot-path null

animations {
  //slowdown 3.0
}

workspace "1" {}
workspace "2" {}
workspace "3" {}
workspace "4" {}
workspace "5" {}
workspace "6" {}
workspace "7" {}
workspace "8" {}

// Float and center windows by title
window-rule {
  match title=r#"(Rename ".*\*.*"|File Operation Progress|Confirm to replace files|Attention|Rename file|Choose file|Choose files|Font Manager|Volume Control|Qalculate!|Library|Add bookmark|Bluetooth Devices|Create Document from .*|New .* ...|Create New)"#
  open-floating true
}

// Float and center windows by app-id
window-rule {
  match app-id=r#"(blueman-manager|blueman-services|nwg-look|org\.qbittorrent\.qBittorrent|kvantummanager|.*-polkit|nm-connection-editor|qt5ct|mp|vlc|xdg-desktop-portal-gtk|org\.gnome\.eog|qt6ct|imv)"#
  open-floating true
}

// With proportion 1.0
window-rule {
  match title=r#"(LibreWolf|FireFox|Firefox)"#
  default-column-width { proportion 1.0; }
  open-maximized false
}

// IDK  
/-window-rule {
  match app-id=r#"^org\.wezfurlong\.wezterm$"#
  default-column-width {}
}

// Float by app-id and title
window-rule {
  // - host Firefox (app-id is "firefox")
  // - Flatpak Firefox (app-id is "org.mozilla.firefox")
  match app-id=r#"firefox$"# title="^Picture-in-Picture$"
  match app-id=r#"librewolf$"# title="^Picture-in-Picture$"
  open-floating true
}

// Example: block out two password managers from screen capture.
/-window-rule {
  match app-id=r#"^org\.keepassxc\.KeePassXC$"#
  match app-id=r#"^org\.gnome\.World\.Secrets$"#

  block-out-from "screen-capture"

  // Use this instead if you want them visible on third-party screenshot tools.
  // block-out-from "screencast"
}

window-rule {
  geometry-corner-radius 0
  clip-to-geometry true
}

binds {
  // Keys consist of modifiers separated by + signs, followed by an XKB key name
  // in the end. To find an XKB name for a particular key, you may use a program
  // like wev.
  //
  // "Mod" is a special modifier equal to Super when running on a TTY, and to Alt
  // when running as a winit window.
  //
  // Most actions that you can bind here can also be invoked programmatically with
  // `niri msg action do-something`.

  // Mod-Shift-/, which is usually the same as Mod-?,
  // shows a list of important hotkeys.
  Mod+Shift+Slash { show-hotkey-overlay; }

  // Applications
  Mod+Shift+Return hotkey-overlay-title="Open Terminal: foot" { spawn "foot"; }
  Mod+T hotkey-overlay-title="Open Browser: librewolf" { spawn "librewolf"; }
  Mod+D hotkey-overlay-title="Open File Manager: yazi" { spawn-sh "foot -e yazi"; }

  // Open smth
  Mod+M hotkey-overlay-title="Open Clipboard History: fuzzel" { spawn-sh "~/.config/fuzzel/scripts-niri/cliphist_menu.sh"; }
  Mod+Shift+M hotkey-overlay-title="Open Bemoji: fuzzel" { spawn-sh "bemoji"; }
  Mod+N hotkey-overlay-title="Open Power Menu: fuzzel" { spawn-sh "~/.config/fuzzel/scripts-niri/power_menu.sh"; }
  Mod+Shift+N hotkey-overlay-title="Open System Menu: fuzzel" { spawn-sh "~/.config/fuzzel/scripts-niri/system_menu.sh"; }
  // Run smth
  Mod+P hotkey-overlay-title="Run Command: fuzzel" { spawn-sh "fuzzel --list-executables-in-path --prompt='Execute: '"; }
  Mod+Shift+P hotkey-overlay-title="Run Application: fuzzel" { spawn-sh "fuzzel --prompt='Launch: '"; }

  // Screen
  Mod+S hotkey-overlay-title="Lock the screen: hyprlock" { spawn-sh "hyprlock --no-fade-in"; }
  Mod+Shift+B hotkey-overlay-title="Reload waybar" { spawn-sh "killall -SIGUSR2 waybar"; }
  Mod+B hotkey-overlay-title="Toggle waybar" { spawn-sh "killall -SIGUSR1 waybar"; }

  // "-l 1.0" limits the volume to 100%.
  XF86AudioRaiseVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1+ -l 1.0"; }
  XF86AudioLowerVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1-"; }
  XF86AudioMute        allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle"; }
  XF86AudioMicMute     allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SOURCE@ toggle"; }

  // This will work with any MPRIS-enabled media player.
  XF86AudioPlay        allow-when-locked=true { spawn-sh "playerctl play-pause"; }
  XF86AudioStop        allow-when-locked=true { spawn-sh "playerctl stop"; }
  XF86AudioPrev        allow-when-locked=true { spawn-sh "playerctl previous"; }
  XF86AudioNext        allow-when-locked=true { spawn-sh "playerctl next"; }

  XF86MonBrightnessUp allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "+10%"; }
  XF86MonBrightnessDown allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "10%-"; }

  // Open/close the Overview: a zoomed-out view of workspaces and windows.
  // You can also move the mouse into the top-left hot corner,
  // or do a four-finger swipe up on a touchpad.
  Mod+0 repeat=false { toggle-overview; }

  Mod+Shift+C repeat=false { close-window; }

  Mod+Left  { focus-column-left; }
  Mod+Down  { focus-window-down; }
  Mod+Up    { focus-window-up; }
  Mod+Right { focus-column-right; }
  Mod+H     { focus-column-left; }
  Mod+J     { focus-window-down; }
  Mod+K     { focus-window-up; }
  Mod+L     { focus-column-right; }

  Mod+Ctrl+Left  { move-column-left; }
  Mod+Ctrl+Down  { move-window-down; }
  Mod+Ctrl+Up    { move-window-up; }
  Mod+Ctrl+Right { move-column-right; }
  Mod+Ctrl+H     { move-column-left; }
  Mod+Ctrl+J     { move-window-down; }
  Mod+Ctrl+K     { move-window-up; }
  Mod+Ctrl+L     { move-column-right; }

  // Alternative commands that move across workspaces when reaching
  // the first or last window in a column.
  // Mod+J     { focus-window-or-workspace-down; }
  // Mod+K     { focus-window-or-workspace-up; }
  // Mod+Ctrl+J     { move-window-down-or-to-workspace-down; }
  // Mod+Ctrl+K     { move-window-up-or-to-workspace-up; }

  Mod+Home { focus-column-first; }
  Mod+End  { focus-column-last; }
  Mod+Ctrl+Home { move-column-to-first; }
  Mod+Ctrl+End  { move-column-to-last; }

  Mod+Shift+Left  { focus-monitor-left; }
  Mod+Shift+Down  { focus-monitor-down; }
  Mod+Shift+Up    { focus-monitor-up; }
  Mod+Shift+Right { focus-monitor-right; }
  Mod+Shift+H     { focus-monitor-left; }
  Mod+Shift+J     { focus-monitor-down; }
  Mod+Shift+K     { focus-monitor-up; }
  Mod+Shift+L     { focus-monitor-right; }

  Mod+Shift+Ctrl+Left  { move-column-to-monitor-left; }
  Mod+Shift+Ctrl+Down  { move-column-to-monitor-down; }
  Mod+Shift+Ctrl+Up    { move-column-to-monitor-up; }
  Mod+Shift+Ctrl+Right { move-column-to-monitor-right; }
  Mod+Shift+Ctrl+H     { move-column-to-monitor-left; }
  Mod+Shift+Ctrl+J     { move-column-to-monitor-down; }
  Mod+Shift+Ctrl+K     { move-column-to-monitor-up; }
  Mod+Shift+Ctrl+L     { move-column-to-monitor-right; }

  // Alternatively, there are commands to move just a single window:
  // Mod+Shift+Ctrl+Left  { move-window-to-monitor-left; }
  // ...

  // And you can also move a whole workspace to another monitor:
  // Mod+Shift+Ctrl+Left  { move-workspace-to-monitor-left; }
  // ...

  Mod+Page_Down      { focus-workspace-down; }
  Mod+Page_Up        { focus-workspace-up; }
  Mod+U              { focus-workspace-down; }
  Mod+I              { focus-workspace-up; }
  Mod+Ctrl+Page_Down { move-column-to-workspace-down; }
  Mod+Ctrl+Page_Up   { move-column-to-workspace-up; }
  Mod+Ctrl+U         { move-column-to-workspace-down; }
  Mod+Ctrl+I         { move-column-to-workspace-up; }

  // Alternatively, there are commands to move just a single window:
  // Mod+Ctrl+Page_Down { move-window-to-workspace-down; }
  // ...

  Mod+Shift+Page_Down { move-workspace-down; }
  Mod+Shift+Page_Up   { move-workspace-up; }
  Mod+Shift+U         { move-workspace-down; }
  Mod+Shift+I         { move-workspace-up; }

  // You can bind mouse wheel scroll ticks using the following syntax.
  // These binds will change direction based on the natural-scroll setting.
  //
  // To avoid scrolling through workspaces really fast, you can use
  // the cooldown-ms property. The bind will be rate-limited to this value.
  // You can set a cooldown on any bind, but it's most useful for the wheel.
  Mod+WheelScrollDown      cooldown-ms=150 { focus-workspace-down; }
  Mod+WheelScrollUp        cooldown-ms=150 { focus-workspace-up; }
  Mod+Ctrl+WheelScrollDown cooldown-ms=150 { move-column-to-workspace-down; }
  Mod+Ctrl+WheelScrollUp   cooldown-ms=150 { move-column-to-workspace-up; }

  Mod+WheelScrollRight      { focus-column-right; }
  Mod+WheelScrollLeft       { focus-column-left; }
  Mod+Ctrl+WheelScrollRight { move-column-right; }
  Mod+Ctrl+WheelScrollLeft  { move-column-left; }

  // Usually scrolling up and down with Shift in applications results in
  // horizontal scrolling; these binds replicate that.
  Mod+Shift+WheelScrollDown      { focus-column-right; }
  Mod+Shift+WheelScrollUp        { focus-column-left; }
  Mod+Ctrl+Shift+WheelScrollDown { move-column-right; }
  Mod+Ctrl+Shift+WheelScrollUp   { move-column-left; }

  // Similarly, you can bind touchpad scroll "ticks".
  // Touchpad scrolling is continuous, so for these binds it is split into
  // discrete intervals.
  // These binds are also affected by touchpad's natural-scroll, so these
  // example binds are "inverted", since we have natural-scroll enabled for
  // touchpads by default.
  // Mod+TouchpadScrollDown { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.02+"; }
  // Mod+TouchpadScrollUp   { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.02-"; }

  // You can refer to workspaces by index. However, keep in mind that
  // niri is a dynamic workspace system, so these commands are kind of
  // "best effort". Trying to refer to a workspace index bigger than
  // the current workspace count will instead refer to the bottommost
  // (empty) workspace.
  //
  // For example, with 2 workspaces + 1 empty, indices 3, 4, 5 and so on
  // will all refer to the 3rd workspace.
  Mod+1 { focus-workspace 1; }
  Mod+2 { focus-workspace 2; }
  Mod+3 { focus-workspace 3; }
  Mod+4 { focus-workspace 4; }
  Mod+5 { focus-workspace 5; }
  Mod+6 { focus-workspace 6; }
  Mod+7 { focus-workspace 7; }
  Mod+8 { focus-workspace 8; }
  Mod+9 { focus-workspace 9; }
  Mod+Shift+1 { move-window-to-workspace 1; }
  Mod+Shift+2 { move-window-to-workspace 2; }
  Mod+Shift+3 { move-window-to-workspace 3; }
  Mod+Shift+4 { move-window-to-workspace 4; }
  Mod+Shift+5 { move-window-to-workspace 5; }
  Mod+Shift+6 { move-window-to-workspace 6; }
  Mod+Shift+7 { move-window-to-workspace 7; }
  Mod+Shift+8 { move-window-to-workspace 8; }
  Mod+Shift+9 { move-window-to-workspace 9; }

  // Alternatively, there are commands to move column:
  // Mod+Ctrl+1 { move-column-to-workspace 1; }

  // Switches focus between the current and the previous workspace.
  // Mod+Tab { focus-workspace-previous; }

  // The following binds move the focused window in and out of a column.
  // If the window is alone, they will consume it into the nearby column to the side.
  // If the window is already in a column, they will expel it out.
  Mod+BracketLeft  { consume-or-expel-window-left; }
  Mod+BracketRight { consume-or-expel-window-right; }

  // Consume one window from the right to the bottom of the focused column.
  Mod+Comma  { consume-window-into-column; }
  // Expel the bottom window from the focused column to the right.
  Mod+Period { expel-window-from-column; }

  Mod+R { switch-preset-column-width; }
  // Cycling through the presets in reverse order is also possible.
  // Mod+R { switch-preset-column-width-back; }
  Mod+Shift+R { switch-preset-window-height; }
  Mod+Ctrl+R { reset-window-height; }
  Mod+F { maximize-column; }
  Mod+Shift+F { fullscreen-window; }

  // Expand the focused column to space not taken up by other fully visible columns.
  // Makes the column "fill the rest of the space".
  Mod+Ctrl+F { expand-column-to-available-width; }

  Mod+Q { center-column; }
  // Center all fully visible columns on screen.
  Mod+Ctrl+Q { center-visible-columns; }

  // Finer width adjustments.
  // This command can also:
  // * set width in pixels: "1000"
  // * adjust width in pixels: "-5" or "+5"
  // * set width as a percentage of screen width: "25%"
  // * adjust width as a percentage of screen width: "-10%" or "+10%"
  // Pixel sizes use logical, or scaled, pixels. I.e. on an output with scale 2.0,
  // set-column-width "100" will make the column occupy 200 physical screen pixels.
  Mod+Minus { set-column-width "-10%"; }
  Mod+Equal { set-column-width "+10%"; }

  // Finer height adjustments when in column with other windows.
  Mod+Shift+Minus { set-window-height "-10%"; }
  Mod+Shift+Equal { set-window-height "+10%"; }

  // Move the focused window between the floating and the tiling layout.
  Mod+V       { toggle-window-floating; }
  Mod+Shift+V { switch-focus-between-floating-and-tiling; }

  // Toggle tabbed column display mode.
  // Windows in this column will appear as vertical tabs,
  // rather than stacked on top of each other.
  Mod+W { toggle-column-tabbed-display; }

  // Actions to switch layouts.
  // Note: if you uncomment these, make sure you do NOT have
  // a matching layout switch hotkey configured in xkb options above.
  // Having both at once on the same hotkey will break the switching,
  // since it will switch twice upon pressing the hotkey (once by xkb, once by niri).
  // Mod+Space       { switch-layout "next"; }
  // Mod+Shift+Space { switch-layout "prev"; }

  Print { screenshot; }
  Ctrl+Print { screenshot-screen; }
  Alt+Print { screenshot-window; }

  // Applications such as remote-desktop clients and software KVM switches may
  // request that niri stops processing the keyboard shortcuts defined here
  // so they may, for example, forward the key presses as-is to a remote machine.
  // It's a good idea to bind an escape hatch to toggle the inhibitor,
  // so a buggy application can't hold your session hostage.
  //
  // The allow-inhibiting=false property can be applied to other binds as well,
  // which ensures niri always processes them, even when an inhibitor is active.
  Mod+Escape allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }

  // The quit action will show a confirmation dialog to avoid accidental exits.
  Mod+Shift+E { quit; }

  // Powers off the monitors. To turn them back on, do any input like
  // moving the mouse or pressing any other key.
  Mod+E { power-off-monitors; }
}
